<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PointCloudViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PointCloudViewer.Properties.Settings>
            <setting name="ROSUri" serializeAs="String">
                <value>http://HSI-200-1D45JB:11311</value>
            </setting>
            <setting name="ThisIP" serializeAs="String">
                <value>192.168.1.142</value>
            </setting>
            <setting name="ROSThisNode" serializeAs="String">
                <value>PointCloudViewer_NET</value>
            </setting>
            <setting name="RGBImageTopic" serializeAs="String">
                <value>/left/image_rect</value>
            </setting>
        </PointCloudViewer.Properties.Settings>
    </userSettings>
</configuration>